   .st0 {
                    fill: #ce814d;
                    stroke: #231f20;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st3 {
                    opacity: 0.3;
                    fill: #231f20;
                    enable-background: new;
                  }

                  .st5 {
                    fill: #f99755;
                    stroke: #231f20;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st6 {
                    fill: #a06137;
                    stroke: #231f20;
                    stroke-width: 0.5;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st7 {
                    fill: none;
                    stroke: #231f20;
                    stroke-width: 0.5;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st8 {
                    fill: #f425c3;
                    stroke: #231f20;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st9 {
                    fill: #cc0099;
                    stroke: #231f20;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st10 {
                    fill: #d2e3eb;
                    stroke: #231f20;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st11 {
                    opacity: 0.5;
                    fill: #231f20;
                    enable-background: new;
                  }

                  .st12 {
                    fill: #e5b417;
                    stroke: #231f20;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st13 {
                    fill: #9b23f9;
                    stroke: #231f20;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st14 {
                    fill: none;
                    stroke: #231f20;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st15 {
                    fill: #6b40f2;
                    stroke: #231f20;
                    stroke-width: 0.5;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st16 {
                    fill: #ff33cc;
                    stroke: #231f20;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st17 {
                    fill: #e4eef3;
                    stroke: #231f20;
                    stroke-width: 0.5;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st18 {
                    fill: #edf4f7;
                    stroke: #231f20;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st19 {
                    fill: #9b23f9;
                    stroke: #231f20;
                    stroke-width: 0.5;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st20 {
                    fill: #cbd1d3;
                  }

                  .st21 {
                    fill: #aaaaaa;
                  }

                  .st22 {
                    font-family: "Poppins";
                  }

                  .st23 {
                    font-size: 7px;
                  }
